body{
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

h3{
  font-size:1.8em;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-image: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 15%, rgba(0, 212, 255, 1) 100%);
  color:transparent;
  background-clip:text;
}

#can-be-utile-though{
  font-style: italic;
}

input[type='file']::file-selector-button{
  border-color : rgba(9,9,121,1);
  display: block;
  font-weight:bold;
  margin: auto;
}
