name: Generate Section for File upload
run-name: auto-deployed by ${{ github.actor }}
on:
  push:
    paths:
      - 'files/**'

jobs:
  update-index:
    runs-on: ubuntu-latest
    permissions:
      write-all
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Get added files
      id: files
      run: |
          FILES=$(git diff --name-only HEAD^ HEAD -- files/)
          echo "FILES<<EOF" >> $GITHUB_OUTPUT
          echo "$FILES" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
        
    - name: Update index.html
      run: |
          while IFS= read -r file
          do
            if [ -n "$file" ]; then
              filename=$(basename "$file")
              block="<div class='rounded'><a href=\"$file\">$filename</a></div>"

              if [[ "$filename" == 1-* ]]; then
                sed -i "/<h3 id='newc'>/i $block" index.html
              fi
              if [[ "$filename" == 2-* ]]; then
                sed -i "/<\/body>/i $block" index.html
              fi
            fi
          done <<< "${{ steps.files.outputs.FILES }}"

    - name: Commit changes
      run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add index.html
          git commit -m "Deploy new section(s) for new uploaded file(s)" || echo "No changes"
          git push
  
