name: Generate Section for File upload
run-name: pushed by ${{github.actor}}
on:
  push:
    paths:
      - 'files/**'

jobs:
  update-index:
    runs-on: ubuntu-latest
    
  steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Update index.html
      run: // truc à compléter
  
